#show-login {
  margin-right: 20px;
}

.hide {
  display: none !important;
}

#login-message p {
  color: red;
  font-weight: bold;
}

.input-check {
  margin-top: 5px !important;
  margin-left: 5px !important;
  margin-right: 0 !important;
  color: red;
}

#signup-message p {
  color: red;
  font-weight: bold;
}

#signup-message {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

#dash-user h5,
#dash-balance h5,
#dash-first h5,
#dash-last h5,
#dash-loc h5 {
  display: inline;
}

.edit.icon:hover {
  cursor: pointer;
}

#info div h1 {
  display: inline;
  margin-bottom: 0;
}

#info div button {
  margin-left: 15px;
}

#table-img {
  position: relative;
  width: 100%;
  z-index: 2;
}

.wrapper {
  background-color: black;
  z-index: 1;
  width: 871px;
  height: 630px;
}

#player {
  position: relative;
  top: -270px;
  left: 10px;
  background-color: black;
  border: 1px solid white;
  width: 150px;
  height: 50px;
  z-index: 4 !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-top: 5px;
}

#opponent {
  position: relative;
  top: -320px;
  left: 710px;
  background-color: black;
  border: 1px solid white;
  width: 150px;
  height: 50px;
  z-index: 4 !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-top: 5px;
}

#player p,
#opponent p {
  position: relative;
  top: -56px;
  left: 20px;
  color: white;
  margin: 0;
  text-align: center;
}

#player-card1 {
  position: absolute;
  top: 20px;
  left: 405px;
  height: 90px;
  margin: 0;
  padding: 0;
  z-index: 3 !important;
}

#player-card2 {
  position: absolute;
  top: 20px;
  left: 405px;
  height: 90px;
  margin: 0;
  padding: 0;
  z-index: 3 !important;
}

#opp-card1 {
  position: absolute;
  top: 20px;
  left: 405px;
  height: 90px;
  margin: 0;
  padding: 0;
  z-index: 3 !important;
}

#opp-card2 {
  position: absolute;
  top: 20px;
  left: 405px;
  height: 90px;
  margin: 0;
  padding: 0;
  z-index: 3 !important;
}

#com-card1 {
  position: absolute;
  top: 20px;
  left: 405px;
  height: 90px;
  margin: 0;
  padding: 0;
  z-index: 3 !important;
}

#com-card2 {
  position: absolute;
  top: 20px;
  left: 405px;
  height: 90px;
  margin: 0;
  padding: 0;
  z-index: 3 !important;
}

#com-card3 {
  position: absolute;
  top: 20px;
  left: 405px;
  height: 90px;
  margin: 0;
  padding: 0;
  z-index: 3 !important;
}

#com-card4 {
  position: absolute;
  top: 20px;
  left: 405px;
  height: 90px;
  margin: 0;
  padding: 0;
  z-index: 3 !important;
}

#com-card5 {
  position: absolute;
  top: 20px;
  left: 405px;
  height: 90px;
  margin: 0;
  padding: 0;
  z-index: 3 !important;
}

#up {
  position: absolute;
  top: 580px;
  left: 770px;
  width: 100px;
  height: 50px;
  z-index: 3 !important;
  vertical-align: middle;
}

#down {
  position: absolute;
  top: 580px;
  left: 550px;
  width: 100px;
  height: 50px;
  z-index: 3 !important;
  vertical-align: middle;
}

#even {
  position: absolute;
  top: 580px;
  left: 660px;
  width: 100px;
  height: 50px;
  z-index: 3 !important;
  vertical-align: middle;
}

#pot {
  position: absolute;
  top: 280px;
  left: 410px;
  color: white;
  z-index: 3 !important;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 3px;
  border: 2px solid black;
  border-radius: 5px;
}

#pot h5 {
  margin: 0;
  padding: 0;
  text-align: center;
}

#pot h6 {
  margin: 0;
  padding: 0;
  text-align: center;
}

#dealer {
  position: absolute;
  top: 300px;
  left: 180px;
  z-index: 3 !important;
  width: 20px;
  height: 20px;
}

#player-bet {
  position: absolute;
  top: 265px;
  left: 200px;
  color: white;
  padding: 5px 10px 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
  z-index: 3 !important;
}

#opp-bet {
  position: absolute;
  top: 265px;
  left: 670px;
  color: white;
  padding: 5px 10px 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
  z-index: 3 !important;
}

#bet-selector {
  position: absolute;
  top: 550px;
  left: 730px;
  z-index: 3 !important;
}

#table-session {
  position: absolute;
  top: 20px;
  left: 25px;
  color: white;
  z-index: 3 !important;
  font-weight: bold;
}

#chat-box {
  position: absolute;
  top: 520px;
  left: 30px;
  height: 110px;
  width: 470px;
  z-index: 3 !important;
  background-color: black;
  border: 2px solid green;
  border-radius: 5px;
}

#chat-input {
  position: relative;
  bottom: 5px;
  left: 0;
  z-index: 4 !important;
  border-top: 2px solid green;
  border-radius: 5px;
  width: 470px !important;
}

#chat-field {
  height: 20px;
  font-size: 0.8em;
  background-color: black;
  color: white;
}

.post {
  color: white;
  font-size: 0.8em;
  list-style: none;
}

#chatArea {
  position: relative;
  top: 0px;
  height: 88px;
  overflow-y: scroll;
}

#messages {
  padding-left: 5px;
  margin: 0;
  height: auto;
  margin-bottom: 3px;
}

.dealer-post {
  color: #91A8D0;
}

#leave {
  position: absolute;
  top: 30px;
  left: 780px;
  z-index: 3 !important;
}

#auto-blind {
  position: absolute;
  top: 495px;
  left: 35px;
  z-index: 3 !important;
}

#auto-blind label {
  color: white;
}

#sessions .segment {
  height: 70px;
}

#player img,
#opponent img {
  position: relative;
  top: -6px;
  left: -1px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

#change-deck {
  position: absolute;
  top: 465px;
  left: 35px;
  z-index: 3 !important;
}

#deck-select img {
  height: 300px;
}

#dash-avatar img {
  width: 25px;
}

#alert,
#rebuy {
  text-align: center;
}

#bet-input {
  width: 30px;
  height: 21.7812px;
}

#bet-selector button {
  margin-right: 0;
}
